@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'Lato';
  src: url(/assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Pixel';
  src: url(/assets/fonts/joystix-monospace.otf);
}

body {
  @apply bg-zinc-900
}

@layer components {
  .btn {
    @apply bg-green-400 hover:text-white hover:translate-x-2 hover:translate-y-2 transition-all duration-200 p-2 px-4 font-black
  }
}
